airsim==1.5.0
msgpack-python==0.5.6
msgpack-rpc-python==0.4.1
numpy==1.21.2
opencv-contrib-python-headless==4.5.3.56
opencv-python-headless==4.5.3.56
PyOpenGL==3.1.5
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqtgraph==0.12.2
tornado==4.5.3
matplotlib==3.4.3
torch==1.5.1+cu101
torchvision==0.6.1+cu101
requests==2.26.0
tqdm==4.62.3
git+https://github.com/AdityaNG/Depth-Perception-from-Stereoscopic-Vision-on-Edge-Devices.git
git+https://github.com/AdityaNG/manydepth@pip-module
git+https://github.com/AdityaNG/monodepth2@pip-module