numpy==1.22.3
opencv-contrib-python-headless==4.5.3.56
opencv-python-headless==4.5.3.56
PyOpenGL==3.1.5
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqtgraph==0.12.2
tornado==4.5.3
matplotlib==3.4.3
requests==2.26.0
tqdm==4.62.3
msgpack-python==0.5.6
msgpack-rpc-python==0.4.1
airsim==1.6.0